
@using FypEvaluationSystem.Models;

@{
    Evaluated_form formInfo = this.ViewData.ContainsKey("FormInfo") ? (Evaluated_form)this.ViewData["FormInfo"] : null;
    

    string criteria = "";
    string ass_fields = "";

    foreach (var x in formInfo.criteria_template)
    {
        criteria += x.Criteria_title + "," + x.Total_marks + "\r\n";
    }

    foreach (var x in formInfo.field_template)
    {
        ass_fields += x.Field_title + ",";
    }
    
}

<style>
    .form-design {
        border: none;
        border-bottom: 1px solid #615F5F;
    }

    .border {
        box-shadow: 2px 8px 8px 8px #615F5F;
    }

    .custom {
        width: 200%;
    }
</style>

<div class="container">
    
    <div class="border mt-5 p-3 mb-3" id="print-content">

        <h4 class="text-center">National University of Computer and Emerging Sciences (@formInfo.Campus Campus)</h4>

        <div class="d-flex justify-content-between mt-2">
            <div class="ml-5">
                <img src="~/Content/images/fastlogo.png" class="logo" style="height:130px;" alt="fast logo" />
            </div>
            <div class="mr-5">
                <img src="~/Content/images/nulogo.png" class="logo" style="height:130px;" alt="nu logo" />
            </div>
        </div>

        <div class="text-center">
            <h5>@formInfo.Form_title</h5>
        </div>

        <div class="form-group d-flex mt-4">
            <label class="mr-2">Project&nbsp;Title</label>    
            <input class="form-control form-design" type="text" value="@formInfo.Project_title" disabled>
           
        </div>

        <div class="d-flex justify-content-between mt-3">
            <div class="form-group d-flex custom">
                <label class="mr-2">Group&nbsp;Leader&nbsp;ID</label>
                <input class="form-control form-design" type="text" value="@formInfo.Leader_id" disabled>
                
            </div>
            @*<div class="form-group d-flex custom">
                <label class="mr-2">Group&nbsp;Leader&nbsp;Name</label>
                @if (Disabled)
                {
                    <input class="form-control form-design" type="text" value="" disabled>
                }
                else
                {
                    <input class="form-control form-design" type="text" value="">
                }
            </div>*@
        </div>
        <div class="d-flex justify-content-between mt-3">
            <div class="form-group d-flex custom">
                <label class="mr-2">Supervisor</label>
                <input class="form-control form-design" type="text" value="@formInfo.Supervisor_name" disabled>
            </div>
            <div class="form-group d-flex custom">
                <label class="mr-2">CoSupervisor</label>
                <input class="form-control form-design" type="text" value="@formInfo.Cosupervisor_name" disabled>
                
            </div>
        </div>

        <div class="text-center mt-4">
            <div class="form-check-inline">
                <label class="form-check-label" for="radio1">

                    @if (formInfo.Form_status.Equals("Accepted"))
                    {
                        <input type="radio" class="form-check-input" id="accepted" name="optradio" value="Accepted" checked />
                        <span>Accepted</span>
                    }
                    else
                    {
                        <input type="radio" class="form-check-input" id="accepted" name="optradio" value="Accepted" />
                        <span>Accepted</span>

                    }
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label" for="radio2">
                    @if (formInfo.Form_status.Equals("Accepted with Changes"))
                    {
                        <input type="radio" class="form-check-input" id="accepted-with-changes" name="optradio" value="Accepted with Changes" checked />
                        <span>Rejected</span>
                    }
                    else
                    {
                        <input type="radio" class="form-check-input" id="accepted-with-changes" name="optradio" value="Accepted with Changes" />
                        <span>Accepted With Changes</span>

                    }
                    
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label">
                    @if (formInfo.Form_status.Equals("Rejected"))
                    {
                        <input type="radio" class="form-check-input" id="rejected" name="optradio" value="Rejected" checked />
                        <span>Rejected</span>
                    }
                    else
                    {
                        <input type="radio" class="form-check-input" id="rejected" name="optradio" value="Rejected" />
                        <span>Accepted With Changes</span>

                    }
                </label>
            </div>
        </div>

        <div class="table-responsive mt-5">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Assesment Criteria</th>
                        @foreach (var elem in formInfo.criteria_marks)
                        {
                        <th>@elem.Student_id</th>
                        }
                        <th>Criteria Marks</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in formInfo.criteria_template)
                    {
                    <tr>
                        <td>@item.Criteria_title</td>
                        @foreach (var elem in formInfo.criteria_template)
                        {
                            <td>
                                <div class="form-group">

                                    <input class="form-control form-design" type="text" value="@elem.Total_marks" disabled>
                                    
                                </div>
                            </td>
                        }
                            
                            <td>@item.Total_marks</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="form-group mt-4">
            @for (var i=0; i<formInfo.field_template.Count; i++)
            {
                <label for="comment">@formInfo.field_template[i].Field_title</label>
                <textarea class="form-control" rows="1" id="comment" disabled>@formInfo.field_text[i].Field_text1</textarea>
                
            }
        </div>

        <div class="form-group d-flex mt-5">
            <label class="mr-2">Evaluator&nbsp;name&nbsp;&&nbsp;signature</label>
            <input class="form-control form-design" type="text" value="" disabled>
          

        </div>
        <div class="form-group d-flex mt-4">
            <label class="mr-2">Supervisor&nbsp;Comment&nbsp;&&nbsp;signature</label>
            <input class="form-control form-design" type="text" value="" disabled>
            
        </div>
    </div>

    
    
    <button class="btn btn-primary float-right mt-4" id="print-button">Print</button>
</div>

