@using FypEvaluationSystem.Models
@model FypEvaluationSystem.Models.GroupInfo

@{
    ViewBag.Title = "ViewStudentInfo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    List<StudentReport> FYP1 = ViewBag.FYP1;
    List<StudentReport> FYP2 = ViewBag.FYP2;

}





    <div class="container mt-5 pt-3">
        <h2>Group Information</h2>
        <div class="row d-flex justify-content-around mt-4">
            <b>@Html.DisplayNameFor(model => model.Supervisor_name)</b>
            @Html.DisplayFor(model => model.Supervisor_name)
        </div>

        @if (Model.Cosupervisor_name != null)
        {
            <hr />
            <div class="row d-flex justify-content-around">
                <b>@Html.DisplayNameFor(model => model.Cosupervisor_name)</b>
                @Html.DisplayFor(model => model.Cosupervisor_name)
            </div>
        }
        <hr />
        <div class="row d-flex justify-content-around">
            <b>@Html.DisplayNameFor(model => model.Leader_id)</b>
            @Html.DisplayFor(model => model.Leader_id)
        </div>
        <hr />
        <div class="row d-flex justify-content-around">
            <b>@Html.DisplayNameFor(model => model.Project_title)</b>
            @Html.DisplayFor(model => model.Project_title)
        </div>

        <h4 class="mt-5 mb-4">Marks Information</h4>

        <h5 class="mt-4t text-center">FYP 1</h5>
        <hr />

        @foreach (var elem in FYP1)
        {
            <div class="row d-flex justify-content-around">
                <b>Evaluation Type</b>
                @elem.Evaluation_type
            </div>
            <div class="row d-flex justify-content-around">
                <b>Total Marks</b>
                @elem.Total_marks
            </div>
            <div class="row d-flex justify-content-around">
                <b>Obtained Marks</b>
                @elem.Obtained_marks
            </div>
            <hr />

        }
        <h5 class="mt-4 text-center">FYP 2</h5>
        <hr />

        @foreach (var elem in FYP2)
        {

            <div class="row d-flex justify-content-around">
                <b>Evaluation Type</b>
                @elem.Evaluation_type
            </div>
            <div class="row d-flex justify-content-around">
                <b>Total Marks</b>
                @elem.Total_marks
            </div>
            <div class="row d-flex justify-content-around">
                <b>Obtained Marks</b>
                @elem.Obtained_marks
            </div>
            <hr />

        }
        <h4 class="mt-5 mb-4">Member Information</h4>

        @foreach (var elem in Model.Student_list)
        {
            <div class="row d-flex justify-content-around">
                <b>Student ID</b>
                @elem.Student_id
            </div>
            <div class="row d-flex justify-content-around">
                <b>Student Name</b>
                @elem.Student_name
            </div>
            <div class="row d-flex justify-content-around">
                <b>Student Email</b>
                @elem.Student_email
            </div>
            <hr />
        }

    </div>


